{% extends 'index.html' %}

{% block contant %}


 
<!--.............................  Accelerate section ....................................  -->

<div class="section">
	<div class="flex  grid lg:grid-cols-2 md:grid-cols-1 sm:grid-cols-1">
      <div class="mx-10 my-20">
        <h1 class="text-4xl text-left font-bold">Accelerate your Growth and Success with Whiltor</h1>
        <p class="mt-3 text-left">Whiltor is here for your business in this ever-changing times, offering the greatest advice and support. We are a team of experienced and passionate people who are passionate about building a better future for our clients.</p>
       <button class="w-52 h-10 bg-yellow-300 border rounded-xl mt-5">Get Started  &nbsp<i class="fa-solid fa-arrow-right"></i></button>
      </div>

      <div class=" my-20 ">
      	 <!-- <div class=" w-52 h-[50px]"> -->
      	<!--  <img src="image/w_cst4.png">
      	 <img src="image/w_cst5.png"> -->
         {% load static %}
      	 <img src="{% static 'image/w_cst1.png' %}">
        <!--  <img src="image/w_cst2.png">
         <img src="image/w_cst3.png">
        -->
        <!-- </div> -->
      </div>
  </div>  
</div>


<!-- ......................  box section ............................. -->

<div class="section">
	<div class="mx-[70px] bg-transparent grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-10">

      <div class=" bg-white p-5  rounded-xl  hover:shadow-2xl">
      	 <img src="{% static 'image/w_cst6.png' %}" class="w-[100px]">
         <p class="text-2xl px-3 text-left bg-white">Product Development</p>
         <p class="text-lg px-3 text-left p-3 bg-white">Overall development for your business.</p>
      </div>

       <div class=" bg-white p-5  rounded-xl hover:shadow-2xl">
      	 <img src="{% static 'image/w_cst7.png' %}" class="w-[100px]">
         <p class="text-2xl px-3 text-left bg-white">Consultancy</p>
         <p class="text-lg px-3 text-left p-3 bg-white">Best consultancy for your business.</p>
      </div>

      
      <div class=" bg-white p-5  rounded-xl hover:shadow-2xl">
      	 <img src="{% static 'image/w_cst8.png' %}" class="w-[100px]">
         <p class="text-2xl px-3 text-left bg-white">Branding</p>
         <p class="text-lg px-3 text-left p-3 bg-white">Take your brand to the highest of reach.</p>
      </div>

    </div>
</div>

<!-- ..............................  innovate section .................................. -->
<div class="section">
	<p class="text-3xl my-[80px] text-center font-bold">Strategize, Innovate and Transform With Whiltor</p>
	<div class="flex  grid lg:grid-cols-2 md:grid-cols-1 sm:grid-cols-1">

	  <div class="pl-[200px] w-[80%]"><img src="{% static 'image/w_cst9.png' %}"></div>
      <div class="mx-10 my-20">
        <p class="mt-3 text-left">No matter where you are on your journey, Whiltor's consulting services can take you from strategy to execution. We at Whiltor leverage modern interfaces and technologies to improve your digital customer experience. We analyze your business and provide analytically created strategies to help you grow your business. We at Whiltor help you to create a better future for your business.</p>
      </div>
  </div>  
</div>

<!-- ..............................  Roadmap section .................................. -->

<section>
  <p class="text-3xl my-[40px] text-center font-bold">What we do?</p>
  <p class="text-lg my-[10px] text-center">We believe in building strong brands, well-crafted content, and integrated strategies to help you grow your business.</p>

  <div class="grid  lg:grid-cols-2 md:grid-cols-2 grid-cols-1 container w-11/12 mx-auto mt-10">
      <div class="semicircle-infographic">
            <div class="center-circle">
              <div class="content">
                <h2 class="text-3xl">ROADMAP</h2>
                <p class="font-bold mt-2">To Transform Your Business</p>
              </div>
            </div>
            <div class="semi-circle-container">
              <div class="semi-circle">
                <div class="circle-section"></div>
                <div class="circle-section"></div>
                <div class="circle-section"></div>
                <div class="circle-section"></div>
              </div>
                        
              <div class="inner-circle-container">
                    <div class="inner-circle">
                        <i class="fas fa-eject w-24 h-24 ml-4 mt-8"></i>
                    </div>
                    <div class="inner-circle">
                        <i class="fas fa-star w-24 h-24 ml-4 mt-8"></i>
                    </div>
                    <div class="inner-circle">
                        <i class="fas fa-chess-king w-24 h-24 ml-4 mt-8"></i>
                    </div>
                    <div class="inner-circle">
                        <i class="far fa-grin-stars w-24 h-24 ml-4 mt-8"></i>
                    </div>
              </div>
            </div>
      </div>

        <div>
            <div class="grid lg:grid-cols-2 md:grid-cols-1 grid-cols-1">
                <div class="box-content  w-60 h-60 mx-auto mt-12 shadow-[0_35px_60px_-15px_rgba(0,0,0,0.3)]">
                   <div class="h-16 w-16  mx-32 -mt-12 ">
                       <i class="fas fa-eject text-5xl ml-[-30px] text-[#1A2942] animate-bounce"></i>
                   </div>
                   <div class="justify-center">
                      <h1 class="text-3xl text-center -ml-2 my-4">Strategize</h1>
                      <h1 class="text-center my-8 px-3">We leverage cutting-edge technologies to create smarter and customised strategies.</h1>
                   </div>
                </div>
                <div class="box-content  w-60 mx-auto mt-8 shadow-[0_35px_60px_-15px_rgba(0,0,0,0.3)]">
                   <div class="h-16 w-16  mx-32 -mt-12 ">
                       <i class="fas fa-star text-5xl ml-[-30px] mt-2  text-[#04396C] animate-bounce"></i>
                   </div>
                   <div class="justify-center">
                      <h1 class="text-3xl text-center -ml-2 my-4 ">Process</h1>
                      <h1 class="text-center my-8 px-3">We plan based on your objectives and then process it to ensure efficient growth.</h1>
                   </div>
                </div>
            </div>

            <div class="grid lg:grid-cols-2 md:grid-cols-1 grid-cols-1 mt-12">
                <div class="box-content  w-60 mx-auto mt-12 shadow-[0_35px_60px_-15px_rgba(0,0,0,0.3)]">
                   <div class="h-16 w-16  mx-32 -mt-12  ">
                       <i class="fas fa-chess-king text-5xl  text-[#035B96] ml-[-30px] mt-2 animate-bounce"></i>
                   </div>
                   <div class="justify-center">
                      <h1 class="text-3xl text-center -ml-2 my-4">Imlplement</h1>
                      <h1 class="text-center my-8 px-3 ">To keep up with the world, we upgrade and implement plans and strategies together.</h1>
                   </div>
                </div>
                <div class="box-content  w-60 mx-auto mt-12 shadow-[0_35px_60px_-15px_rgba(0,0,0,0.3)]">
                   <div class="h-16 w-16  mx-32 -mt-12 ">
                       <i class="far fa-grin-stars text-5xl  text-[#609AB8]  ml-[-30px] mt-2 mb-12 animate-bounce"></i>
                   </div>
                   <div class="justify-center">
                      <h1 class="text-3xl text-center -ml-2 my-4">Achive</h1>
                      <h1 class="text-center my-8 px-3">Achieve your success us from consulting to development, we've got you covered.</h1>
                   </div>
                </div>
            </div>

        </div>
  </div>
</section>



<!-- ..............................  consult section .................................. -->
<div class="section">
	<h2 class="text-3xl my-[40px] text-center">Why Consult Us?</h2>
	<p class="text-xl my-0 text-center">Consult with us to solve your problems and grow your business.</p>
	<div class="flex  grid lg:grid-cols-2 md:grid-cols-1 sm:grid-cols-1">

      <div class="mx-10 my-20">
          <div class="bg-white lg:w-64 p-8 text-center rounded-xl ml-5 hover:shadow-2xl">
              <i class="fa-regular fa-face-grin-stars text-5xl text-[#FFE578]"></i>
              <h3 class="text-xl">Free Consultancy</h3>
              <p class="mt-3 text-left">Our team offers free consultation to all your problems.</p>
          </div>
          <div class="bg-white lg:w-64 p-8 text-center rounded-xl ml-5 mt-5 hover:shadow-2xl">
              <i class="fa-regular fa-face-grin-stars text-5xl text-[#52CCCC]"></i>
              <h3 class="text-xl">Creative Solutions</h3>
              <p class="mt-3 text-left">Our team aims to provide you with innovative solutions.</p>
          </div>
          <div class="bg-white lg:w-64 p-8 text-center rounded-xl lg:ml-[310px] lg:mt-[-300px] mt-5 ml-5 hover:shadow-2xl">
              <i class="fa-regular fa-face-grin-stars text-5xl text-[#53538C]"></i>
              <h3 class="text-xl">Long-term Success</h3>
              <p class="mt-3 text-left">We provide practical and long-term growth strategies.</p>
          </div>
      </div>
      <div class="pl-[200px] w-[80%]"><img src="{% static 'image/w_cst11.png' %}"></div>
  </div>  
</div>



<!-- ..............................  contact us form section .................................. -->
<div class="section lg:mt-[-330px]">
  <!-- <div class="flex  grid lg:grid-cols-2 md:grid-cols-1 sm:grid-cols-1"> -->

      <div class="mx-10 my-0">
        <div class="bg-[#1A2942] p-5 w-64 h-96 rounded-xl translate-y-[430px] ml-[80px] my-0 hidden lg:block"><img src="{% static 'image/w_cst10.png' %}"></div>
         <center><div class="bg-white lg:w-[50%] pb-10 ">
            <form>
              <p class="text-3xl pt-5">Contant Us</p><br>
             <i class="fa-solid fa-signature bg-[#1A2942] text-white p-3 rounded-full text-xl"></i> <input class="w-[50%] border-b-2 border-gray-300 hover:outline-none outline-none hover:border-blue-900 m-3 p-2 " type="text" name="" placeholder="Full Name"><br>
            <i class="fa-regular fa-envelope-open bg-[#1A2942] text-white p-3 rounded-full text-xl"></i>  <input class="w-[50%] border-b-2 border-gray-300 hover:outline-none outline-none hover:border-blue-900 m-3 p-2  " type="text" name="" placeholder="E-Mail"><br>
             <i class="fa-solid fa-phone bg-[#1A2942] text-white p-3 rounded-full text-xl"></i> <input class="w-[50%] border-b-2 border-gray-300 hover:outline-none outline-none hover:border-blue-900 m-3 p-2  " type="number" name="" placeholder="Contact Number "><br>
              <i class="fa-solid fa-paper-plane bg-[#1A2942] text-white p-3 rounded-full text-xl"></i>  <textarea class="w-[50%] border-b-2 border-gray-300 hover:outline-none outline-none hover:border-blue-900 m-3 p-5  " type="textarea" name="" placeholder="Query"></textarea><br><br>
              <button class="px-[60px] p-3 bg-[#1A2942] text-white font-bold rounded-full">Submit</button>
            </form>
            
          </div></center>

      </div>
  <!-- </div>   -->
</div>



{% endblock %}

