<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
<section>
<div class="bg-blue-200  w-auto rounded-xl p-10 ">
    <form>
        <table class="table-fixed">
            <thead>
              <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Operation</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>
                    <a href="#"><button class="rounded-xl bg-yellow-300 p-2 ">Delete</button></a>
                </td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
    
    </form>
</div>
</section>
          

</body>
</html>


