{% extends 'index.html' %}

{% block contant %}

<!-- Bulild trust start -->
<section>
    <div>
        <div class="flex md:flex-row flex-col  md:p-10 p-5">
          <div class=" md:w-screan md:px-5 px-0 md:w-1/2  w-full">
            <h1 class="md:text-5xl text-xl md:mx-10 mx-0 font-bold">Trust and Excellence in Every Way</h1>
            <p class="text-lg md:mx-10 mx-0 mt-5"> Bridge the gap between your vision and its reality with the best-in-industry services provided by Whiltor.</p>
          
          <div class="flex gap-10  mt-10 md:flex-row flex-col">
           <div class="w-75 p-4 bg-white border-b-red-600 border-4 rounded-lg border-transparent">
                <h1 class="text-center">10</h1> <hr>
              <p>We offer consulting services that are unmatched in the market.</p>
           </div>
           <div class="w-75 p-4 bg-white border-b-blue-400 border-4 rounded-lg border-transparent">
             <h1 class="text-center">20</h1>	<hr>
              <p>We offer consulting services that are unmatched in the market.</p>
           </div>
           <div class="w-75 p-4 bg-white border-b-yellow-400 border-4 rounded-lg border-transparent">
               <h1 class="text-center">30</h1><hr>
              <p>We offer consulting services that are unmatched in the market.</p>
           </div>
         </div>

          </div> 
          {% load static %}
          <div class="md:w-1/2 w-full bg-[url('{% static 'image/whiltor-01.png' %}')] " style="background-size: contain;">
              <!-- <img src="{% static 'image/whiltor-01.png' %}" class="w-25"> -->

             <img src="{% static 'image/w_ser9.png' %}" class="w-25">
<!-- 
              <img src="{% static 'image/whiltor-03.png' %}" class="w-25">
              <img src="{% static 'image/whiltor-04.png' %}" class="w-25">
              <img src="{% static 'image/whiltor-05.png' %}" class="w-25">
              <img src="{% static 'image/whiltor-06.png' %}" class="w-25"> -->

            <!-- </div> -->
              <!-- <img src="https://whiltor.com/assets/img/portfolio/whiltor-01.png" class="w-full reality"> -->
          </div> 
        </div>
    </div>
</section>
<!-- Bulild trust end -->
<!-- whiltor help start -->
<section>
    <div>
        <div class="grid grid-col-1 text-center p-5 my-4">
            <h1 class="text-2xl font-bold">WHILTOR HELPS YOU DELIVER SUPERIOR CUSTOMER EXPERIENCE</h1>
        </div>
        <div class="flex md:flex-row flex-col">
            <div class="md:w-1/3 w-full p-10 ">
                <img src="https://whiltor.com/assets/img/img13/img13NoShadowNoBg.png" class="w-1/2 ml-[30%] ">
            </div>
            <div class="md:w-1/2 w-full  mt-[10%] p-10">
                <p>An immersive and seamless experience for clients is no more a pipe dream, but a reality. With our strategically created plans, we at Whiltor provide you with a competitive strategy that is future-proof and helps your business accomplish the desired results. Our outcome-focused approach allows us to gain valuable insight into customer behaviors.Which enhances and simplifies customer experience and acclerates your business growth from strategy to execution.</p>
            </div>
        </div>
    </div>
</section>
<!-- whiltor help end -->

<!-- building -->
 <section>
   <div style="background-image: url('static/building.webp'); background-repeat: no-repeat; background-size: 100% 100%;">
     <div class="py-[8%] bg-[#1234709d] -rotate-[3deg] w-[99%]">
       <img src="{% static 'image/Whiltor.png' %}" class="m-auto w-[50%]  sm:w-[40%]  md:[30%] lg:w-[20%]">
       <center><button class="btn p-3 bg-yellow-400 text-xl rounded-xl mt-5">Get Started</button></center>
     </div>
   </div>
 </section>
<!-- building ends -->

<!-- difference -->
<section>
 <div class="mt-[7%]">
  <div>
    <p class="text-4xl text-center font-bold">LET'S MAKE A DIFFERENCE TOGETHER.</p>
    <p class="text-sm mt-5 text-center" >We at Whiltor help you turn your idea into a product.</p>
  </div>
   <div class="flex md:flex-row flex-col w-[100%] my-[8%]" >
     <div class="w-full sm:w-[80%] md:w-[50%] lg:w-[33%] ">
       <div class="md:float-right lg:w-[70%] m-auto md:mt-5 mt-[30%] duration-300 w-[85%] bg-white hover:shadow-sm p-10 rounded-2xl shadow-2xl hover:translate-y-[-30px] transition duration-700">
         <center>
           <img src="{% static 'image/w_ser3.png'%} " class="w-[80%] m-auto mt-[-50%]">
         </center>
         <p class="text-4xl text-center my-5">Staergize</p>
         <p class="text-lg text-center">Our strategic insights, and innovative ideas for your future objectives will assist you in taking your brand to new heights.</p>
       </div>
     </div>
            <div class="w-full sm:w-[80%] md:w-[50%] lg:w-[33%] ">
       <div class="m-auto  lg:w-[70%] w-[85%] md:mt-[30%] mt-[30%]  duration-300 md:mt-5 hover:shadow-sm bg-white p-10 rounded-2xl shadow-2xl hover:translate-y-[-30px] transition duration-700">
         <center>
           <img src="{% static 'image/w_ser4.png'%}" class="w-[80%] mt-[-50%]">
         </center>
         <p class="text-4xl text-center my-5">Staergize</p>
         <p class="text-lg text-center">Our strategic insights, and innovative ideas for your future objectives will assist you in taking your brand to new heights.</p>
       </div>
     </div>
            <div class="w-full sm:w-[80%] md:w-[50%] lg:w-[33%] ">
       <div class="md:float-left ml-[7%]  md:ml-0 lg:w-[70%] w-[85%] mt-[30%] duration-300 md:mt-5 bg-white p-10 hover:shadow-sm rounded-2xl shadow-2xl hover:translate-y-[-30px] transition duration-700">
        <center>
           <img src="{% static 'image/w_ser5.png'%}" class="w-[80%] m-auto mt-[-50%]">
         </center>
         <p class="text-4xl text-center my-5">Staergize</p>
         <p class="text-lg text-center">Our strategic insights, and innovative ideas for your future objectives will assist you in taking your brand to new heights.</p>
       </div>
     </div>
   </div>
 </div>
</section>
<!-- difference end -->

<!-- images  -->
<section>
 <div>
   <div>
     <img src="{% static 'image/w9.png' %}">
   </div>
   <div class="text-center"><p class="text-4xl text-white bg-[#152042] ">Why us ?</p></div>
   <div class="flex lg:flex-row flex-col w-full bg-[#152042] py-10 ">
     <div class="w-[80%] m-auto lg:w-[50%]">
        
       <div class="w-[80%] m-auto bg-white rounded-lg p-2 mt-4">
         <code class="text-4xl text-red-900">01</code> <a href="#" class="text-blue-900 text-2xl" >Available everytime and in every situation</a>
       </div>
       <div class="w-[80%] m-auto bg-white rounded-lg p-2 mt-4">
         <code class="text-4xl text-red-900">02</code> <a href="#" class="text-blue-900 text-2xl" >Available everytime and in every situation</a>
       </div>
       <div class="w-[80%] m-auto bg-white rounded-lg p-2 mt-4">
         <code class="text-4xl text-red-900">03</code> <a href="#" class="text-blue-900 text-2xl" >Available everytime and in every situation</a>
       </div>
       </div>
     <div class="w-[80%] m-auto lg:w-[50%]">
       <img src="https://www.creditboss.in/wp-content/uploads/2021/03/Canara-Bank-Credit-Card-Customer-Care.jpg" class="w-[60%] m-auto mt-10">
     </div>
   </div>
   <div>
    <img src="{% static 'image/w10.png' %}">
     
   </div>
 </div>
</section>
<!-- images ends -->


<!-- difference -->
<section>
 <div class="mt-[7%]">
  <div>
    <p class="text-4xl text-center font-bold">CREATIVE THINKING , EFFECTIVE SOLUTIONS</p>
    <p class="text-sm mt-5 text-center" >Connect with Whiltor and experience unique solutions for every unique business.</p>
  </div>
   <div class="flex md:flex-row flex-col w-[100%] mt-[8%]" >
     <div class="w-full sm:w-[80%] md:w-[50%] lg:w-[33%]">
       <div class="md:float-right lg:w-[90%] m-auto md:mt-5 mt-[5%] duration-300 w-[85%] p-10 rounded-2xl">
         <center>
           <div class="w-[40%] bg-white rounded-full p-3">
           <img src="{% static 'image/w14.png' %}" class=" m-auto ">
           </div>
         </center>
         <p class="text-4xl text-center my-5">Staergize</p>
         <p class="text-lg text-center">Our strategic insights, and innovative ideas for your future objectives will assist you in taking your brand to new heights.</p>
       </div>
     </div>
      <div class="w-full sm:w-[80%] md:w-[50%] lg:w-[33%]">
       <div class="md:float-right lg:w-[90%] m-auto md:mt-5 mt-[5%] duration-300 w-[85%] p-10 rounded-2xl">
         <center>
           <div class="w-[40%] bg-white rounded-full p-3">
            <img src="{% static 'image/w15.png' %}" class=" m-auto ">
           </div>
         </center>
         <p class="text-4xl text-center my-5">Staergize</p>
         <p class="text-lg text-center">Our strategic insights, and innovative ideas for your future objectives will assist you in taking your brand to new heights.</p>
       </div>
     </div>
     <div class="w-full sm:w-[80%] md:w-[50%] lg:w-[33%]">
       <div class="md:float-right lg:w-[90%] m-auto md:mt-5 mt-[5%] duration-300 w-[85%] p-10 rounded-2xl">
         <center>
           <div class="w-[40%] bg-white rounded-full p-3">
            <img src="{% static 'image/w16.png' %}" class=" m-auto ">
           </div>
         </center>
         <p class="text-4xl text-center my-5">Staergize</p>
         <p class="text-lg text-center">Our strategic insights, and innovative ideas for your future objectives will assist you in taking your brand to new heights.</p>
       </div>
     </div>
     </div>
   </div>
 </div>
</section>
<!-- difference end -->

<!-- image  -->
<section>
<div class=" w-[100%]">
  <img src="{% static 'image/bg01.png' %}">
</div>
</section>
<!-- image end -->

<!-- whiltor help start -->
<section>
  <div>
    <div class="flex md:flex-row flex-col my-[5%]">
      <div class="md:w-[60%] w-full  mt-[2%]">
        <p class="text-4xl mb-10 md:ml-[20%] md:mx-0 mx-[5%]">About us </p>
        <p class="md:ml-[20%] md:mx-0 mx-[5%]">Whiltor is known for its consulting services globally. Whiltor understands the mindset of young entrepreneurs and their business models, and we offer them with the data they need to make informed marketing decisions and build a brand image through modern websites, design, and other means.Connect with Whiltor and drive your journey to peek.</p>
        <button type="button" class="md:ml-[20%] md:mx-0 mx-[5%] p-3  rounded-xl mt-10 border-2 border-black">CONTACT US</button>
      </div>

      <div class="md:w-[40%] w-full flex ">
        <img src="{% static 'image/w8.png' %}" class="w-[50%] ml-[30%] float-left ">
      </div>
    </div>
  </div>
</section>
<!-- whiltor help end -->


<!-- whiltor support  -->
<section>
  <div>
    <div class="text-center">
      <p class="text-4xl ">Whiltor Offers 24/ 7 Support</p>
      <p class="mt-10">Whiltor is here to assist you at every step of the way.</p>
    </div>
    <div class="flex md:flex-row flex-col my-[5%] mb-[10%]">
      <div class="md:w-[40%] w-full flex ">
        <img src="{% static 'image/w_cst10.png' %}" class="w-[60%] m-auto ">
      </div>
      <div class="md:w-[60%] w-full  mt-[2%] grid gap-8">
        <div class="md:float-left md:m-0 m-auto w-[75%] p-3 mt-10 rounded-xl shadow-2xl hover:shadow-sm text-lg bg-white">
        <span class="text-4xl mr-5"><i class="fa-solid fa-bug"></i></span>
         design, and other means.Connect with Whiltor and drive your journey to peek.</div>
         <div class="md:float-left md:m-0 m-auto w-[75%] p-3 mt-10 rounded-xl shadow-2xl hover:shadow-sm text-lg bg-white">
        <span class="text-4xl mr-5"><i class="fa-sharp fa-solid fa-gears"></i></span>
         design, and other means.Connect with Whiltor and drive your journey to peek.</div>
         <div class="md:float-left md:m-0 m-auto w-[75%] p-3 mt-10 rounded-xl shadow-2xl hover:shadow-sm text-lg bg-white">
        <span class="text-4xl mr-5"><i class="fa-solid fa-headphones-simple"></i></span>
         design, and other means.Connect with Whiltor and drive your journey to peek.</div>

      </div>
    </div>
  </div>
</section>
<!-- whiltor support ends -->

{% endblock %}






